<table mat-table [dataSource]="data">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
  </ng-container>

  <!-- Rest of the columns -->

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</table>

<div
  class="scroll-wrapper"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="loadMoreData()"
>
  <!--<mat-progress-spinner *ngIf="loading" color="primary"></mat-progress-spinner>-->
</div>
<ng-container *ngIf="loading">
  <div>Loading....</div>
</ng-container>
